<a href="https://colab.research.google.com/github/Tristan07999/TensorFlow2.0-with-tf.keras/blob/master/Structured_data_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#3RD SEP Fisher Library
#ZIQUAN LIN

#This project is to using data from Cleveland Clinic Foundation for Heart Disease
#There are sereral hundres rows in CSV
#Each row: describe a patient
#Each colun: describe an attribute

In [4]:
#Import tensor flow and other libraries
!pip install -q sklearn
!pip install -U tensorflow_hub==0.6.0

from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd

try:
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

Requirement already up-to-date: tensorflow_hub==0.6.0 in /usr/local/lib/python3.6/dist-packages (0.6.0)
Requirement already satisfied, skipping upgrade: six>=1.10.0 in /tensorflow-2.0.0-rc0/python3.6 (from tensorflow_hub==0.6.0) (1.12.0)
Requirement already satisfied, skipping upgrade: protobuf>=3.4.0 in /tensorflow-2.0.0-rc0/python3.6 (from tensorflow_hub==0.6.0) (3.9.1)
Requirement already satisfied, skipping upgrade: numpy>=1.12.0 in /tensorflow-2.0.0-rc0/python3.6 (from tensorflow_hub==0.6.0) (1.17.1)
Requirement already satisfied, skipping upgrade: setuptools in /tensorflow-2.0.0-rc0/python3.6 (from protobuf>=3.4.0->tensorflow_hub==0.6.0) (41.2.0)

In [5]:
#Use pandas to creat a dataframe
URL = 'https://storage.googleapis.com/applied-dl/heart.csv'
dataframe = pd.read_csv(URL)
dataframe.head()

   age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca        thal  target
0   63    1   1       145   233  ...      2.3      3   0       fixed       0
1   67    1   4       160   286  ...      1.5      2   3      normal       1
2   67    1   4       120   229  ...      2.6      2   2  reversible       0
3   37    1   3       130   250  ...      3.5      3   0      normal       0
4   41    0   2       130   204  ...      1.4      1   0      normal       0

[5 rows x 14 columns]

In [6]:
#Split the dataframe into train, validation and test
train, test = train_test_split(dataframe, test_size = 0.2)
train, val = train_test_split(train, test_size = 0.2)

print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')

193 train examples
49 validation examples
61 test examples

In [0]:
# A utility method to create a tf.data dataset from a Pandas Dataframe